.rs__control {
  background: #ececec !important;
  padding: 0px;
}

.rsModal__control {
  background: #ececec !important;
  padding: 0px;
}

.inputSelect {
  padding: 0px;
  line-height: 18px;
}

.inputSelectModal {
  color: #505050;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  width: 100%;
}
