.wrap-lab h3{
	color:black;
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
}
.wrap-lab .block-top h4{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}
.wrap-lab h5{
	color:black;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 7px;
}
.wrap-lab .text1{
	color:black;
	font-size: 16px;
	line-height: 1.5;
}
.block-top .box-middle{
	margin-bottom: 0px;
}
.item-flex{
	display: flex;
	align-items: self-start;
}

#tabs .nav-link{
	border: none !important;
	border-top-left-radius: 1.2rem !important;
	border-top-right-radius: 1.2rem !important;
	color: #fff;

	background: rgba(182,184,186,1);
	background: -moz-linear-gradient(top, rgba(182,184,186,1) 0%, rgba(129,130,133,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,184,186,1)), color-stop(100%, rgba(129,130,133,1)));
	background: -webkit-linear-gradient(top, rgba(182,184,186,1) 0%, rgba(129,130,133,1) 100%);
	background: -o-linear-gradient(top, rgba(182,184,186,1) 0%, rgba(129,130,133,1) 100%);
	background: -ms-linear-gradient(top, rgba(182,184,186,1) 0%, rgba(129,130,133,1) 100%);
	background: linear-gradient(to bottom, rgba(182,184,186,1) 0%, rgba(129,130,133,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b8ba', endColorstr='#818285', GradientType=0 );

	margin-right: 2px;
}
#tabs.nav-tabs .nav-link.active {
	color:#fff;
    border-color: none;

	background: rgba(37,165,222,1);
	background: -moz-linear-gradient(top, rgba(37,165,222,1) 0%, rgba(45,129,186,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,165,222,1)), color-stop(100%, rgba(45,129,186,1)));
	background: -webkit-linear-gradient(top, rgba(37,165,222,1) 0%, rgba(45,129,186,1) 100%);
	background: -o-linear-gradient(top, rgba(37,165,222,1) 0%, rgba(45,129,186,1) 100%);
	background: -ms-linear-gradient(top, rgba(37,165,222,1) 0%, rgba(45,129,186,1) 100%);
	background: linear-gradient(to bottom, rgba(37,165,222,1) 0%, rgba(45,129,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25a5de', endColorstr='#2d81ba', GradientType=0 );
}
#tabs .nav-link:hover{
	color:#bde9ff !important;
}
#tabs {
    border-bottom: none !important;
}
#tabs .nav-item{
	max-width: 175px;
	text-align: center;
	width: 100%;
}
.person-bottom{
	background: #d4d4d4;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	color:black;
	min-height:60px;
	padding:10px 15px;
	width: 100%;
}
.block-discussion .item-text{
	color:black;
	font-size: 14px;
	line-height: 22px;
	width: 100%;
}
.block-discussion .person-top{
	margin-left: 15px;
	margin-bottom: 8px;
}
.block-discussion .box-top{
	margin-bottom: 19px;
}
.block-discussion .tab-pane{
	padding-top:8px;
}
.block-discussion .person-img{
	margin-top:13px;
}
.block-discussion .item-img {
    margin-right: 20px;
}
.discussion-2{
	margin-top: 15px;
}
.discussion-1 .person-top,
.discussion-2 .person-top{
	font-weight: bold;
}
.discussion-2 .item-text{
	margin-right: 20px;
}
.discussion-2 .item-img {
    margin-right: 0px;
    width: 110px;
}
.discussion-2 .person-bottom{
	min-height: auto;
}

.discussion-2 .odd .person-bottom {
    background: #c7e6fb;
}
.discussion-2 .even .person-bottom {
    background: #fbc7e8;
}
.discussion-2 .items{
	margin-bottom: 13px;
}
.input-message input[type="text"]{
	border:1px solid #d4d4d4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 4px 10px;
	width: 100%;
}
.input-message .item-img a{
	color:#999999;
	font-size: 15px;
	margin-right: 4px;
}
.input-message .item-img a:last-child{
	margin-right: 0px;
}
.input-message .item-img{
	margin-top:8px;
}
.box-status{
	min-width: 200px;
}
@media(max-width:767px){
	.lab-project-partner .item{
		margin-bottom:15px !important;
	}
}
